@media screen and (max-width: 430px){
    .cabecalho {
        margin-top: 0;
        
    }

    .cabecalho__itens__link {
        padding: 0;
    }

    .img__rapaz__halter{
        height: 10vh;
        width: 10vh;
    }

    body {
        margin: 0;
    }

}